
.home {
    display: grid;
    grid-template-rows: 1fr auto;
}

:root {
    --gray: rgba(211, 203, 203, 0.58);
}

.main {
    background-image: url('../assets/img2.jpg');
    background-repeat: no-repeat;
    /* width: 1700px; */
    /* background-color: red; */
    /* width: max-content; */
    background-size: cover;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* align-items: center; */
    box-sizing: border-box;
    /* padding: 7px; */
    /* height: 100vh; */
    /* width: 100%; */
}