.map {
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* justify-content: center; */
    height: 92.2vh;
    transition: 1000ms;
    /* box-sizing: border-box; */

}

.map > h2{
    margin-top: 20px;
}

.frame{
    position: absolute;
    clip: rect(64px, 900px, 399px, 5px );
    max-width: 900px;
    /* width: 90vh; */
    /* height: 470px; */
    height: 448px;
    z-index: -1;
    /* display: flex; */
    /* justify-content: flex-end; */
}

.mes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92.2vh;
}
/* .weather-control-layers-new{
    padding: 0px;
} */