.search{
    justify-self: flex-start;
    margin-top: 50px;
    margin-bottom:50px;
    /* box-sizing: border-box; */
}
.search > form{
    display: flex;

}
.search > form > button{
    padding: 7px;
    border-radius: 8px;
    height: 33px;
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: rgba(255, 254, 254, 0.58);
    /* background-image: url('/src\assets\search.png'); */
}

.search > form > input{
    padding: 7px 7px;
    border-radius: 8px;
    outline: none;
    border: none;
    margin-right: 10px;
}

.search > form > button > img{
    width: 20px;
    height: 20px;
    
}